{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>André Ferreira</title>
    <meta name="description" content="Desenvolvedor Python">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/logo.png' %}">

    <meta name="theme-color" content="#000">
    <meta name="apple-mobile-web-app-status-bar-style" content="#000">
    <meta name="msapplication-navbutton-color" content="#000">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

<main class="introducao">
    <header class="header" id="header">
        <a class="logo">
            <img src="{% static 'img/logo.png' %}" alt="André Ferreira" width="70" height="50">
        </a>

        <nav class="header-nav-menu" id="nav">
            <button id="btn-mobile">

                <span id="hamburger"></span>
            </button>
            <ul class="header-menu" id="menu">
                <a id="logo-menu">
                    <img src="{% static 'img/logotipo.svg' %}" alt="André Ferreira" width="70" height="50">
                </a>
                <button id="close-menu">X</button>
                <li><a href="#sobre">Sobre Mim</a></li>
                <li><a href="#formacao">Formação</a></li>
                <li><a href="#certificacoes">Certificações</a></li>
                <li><a href="#experiencias">Experiências</a></li>
                <li><a href="#projetos">Projetos</a></li>
                <li><a href="#habilidades">Habilidades</a></li>

            </ul>
        </nav>
    </header>

    <div>
        <h1>print(<strong>André Ferreira</strong>)</h1>
        <h2>Desenvolvedor Python</h2>
    </div>

    <div class="contatos" id="contato">
        <div class="contatos-container">
            <ul class="contatos-contato">
                <li><a href="https://api.whatsapp.com/send?phone=5561993730752" target="_blank"><img
                        src="{% static 'img/whatsapp.svg' %}" alt="WhatsApp" width="50" height="50"></a>
                <li><a href="https://github.com/andresousadb" target="_blank"><img src="{% static 'img/github.svg' %}"
                                                                                   alt="Github" width="50" height="50"></a>
                <li><a href="https://www.linkedin.com/in/andresousaferreira/" target="_blank"><img
                        src="{% static 'img/linkedin.svg' %}" alt="linkedin" width="50" height="50"></a>
                <li><a href="{% static '/img/AndreFerreira.pdf' %}" target="_blank"><img
                        src="{% static 'img/curriculo_icon.svg' %}" alt="linkedin" width="50" height="50"></a>
            </ul>
        </div>
    </div>
</main>

<section class="faixa">

    <div class="faixa1">
        <div class="text-wrapper" id="text-wrapper1">
            <p>
                &nbsp;&nbsp;&nbsp;
                • Python •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • Django •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • Bootstrap •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • HTML •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • CSS •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • JavaScript •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • Mysql •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • SQL Server •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>

            <p>
                &nbsp;&nbsp;&nbsp;
                • Postgres •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>

            <p>
                &nbsp;&nbsp;&nbsp;
                • Oracle •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>

            <p>
                &nbsp;&nbsp;&nbsp;
                • Git •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • Power BI •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>

            <p>
                &nbsp;&nbsp;&nbsp;
                • Dados •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • Python •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • Django •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • Bootstrap •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • HTML •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • CSS •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • JavaScript •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • Mysql •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • SQL Server •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>

            <p>
                &nbsp;&nbsp;&nbsp;
                • Postgres •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>

            <p>
                &nbsp;&nbsp;&nbsp;
                • Oracle •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>

            <p>
                &nbsp;&nbsp;&nbsp;
                • Git •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • Power BI •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>

            <p>
                &nbsp;&nbsp;&nbsp;
                • Dados •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
        </div>
    </div>

    <div class="faixa2">
        <div class="text-wrapper" id="text-wrapper2">
            <p>
                &nbsp;&nbsp;&nbsp;
                • Python •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • Django •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • Bootstrap •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • HTML •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • CSS •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • JavaScript •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • Mysql •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • SQL Server •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>

            <p>
                &nbsp;&nbsp;&nbsp;
                • Postgres •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>

            <p>
                &nbsp;&nbsp;&nbsp;
                • Git •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • Power BI •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>

            <p>
                &nbsp;&nbsp;&nbsp;
                • Dados •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • Python •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • Django •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • Bootstrap •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • HTML •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • CSS •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • JavaScript •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • Mysql •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • SQL Server •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>

            <p>
                &nbsp;&nbsp;&nbsp;
                • Postgres •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>

            <p>
                &nbsp;&nbsp;&nbsp;
                • Git •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • Power BI •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
            <p>
                &nbsp;&nbsp;&nbsp;
                • Dados •
                &nbsp;&nbsp;&nbsp;
                &nbsp;
            </p>
        </div>
    </div>
</section>


<section class="sobre" id="sobre">
    <div class="sobre-container">
        <div class="sobre-text">
            <h2><strong>Sobre Mim</strong></h2>
            <p>Olá, meu nome é André e moro em Brasília, DF. Sou bacharel em Sistemas de Informação e pós-graduado em
                Banco de Dados e Business Intelligence. Tenho ampla experiência como analista de BI, analista de banco
                de dados e em análise e tratamento de dados.Minha expertise inclui o gerenciamento e a administração de
                bancos
                de dados SQL Server, MySQL, PostgreSQL e Oracle. Desenvolvo dashboards interativos com Power BI,
                proporcionando visualizações intuitivas e insights valiosos para a tomada de decisões. </p><br>
            <p>
                Sou habilidoso na implementação de processos de ETL utilizando Python e experiente em ferramentas como
                Pentaho Data Integration e Pentaho BI Server.</p><br>

            <p> Como Engenheiro de Dados, sou especialista em modelagem e arquitetura de dados, assegurando a
                consistência e a qualidade dos dados. Meu objetivo é proporcionar suporte eficiente à tomada de decisões
                baseada em dados. Além disso, desenvolvo aplicações web robustas e escaláveis com Django e Python,
                sempre focando em entregar soluções eficientes e otimizadas.</p><br>
            <a href="{% static 'img/AndreFerreira.pdf' %}" target="_blank">
                <button class="button button-sobre" type="submit">Baixar CV</button>
            </a>
        </div>
        <div class="sobre-img">
            <img src="{% static 'img/FotoPerfil.png' %}" width="1080" height="1080" alt="André Ferreira">
        </div>
    </div>

</section>

<section class="formacao" id="formacao" aria-label="Formação">
    <div class="formacao-container container">
        <h2 class="subtitulo">Formação</h2>

        <p class="formacao-texto">Me formei em dezembro de 2016 no curso de bacharelado em Sistemas de Informação pela
            Universidade Paulista. Em 2020, concluí a pós-graduação em Banco de Dados e Business Intelligence pelo Senac.
            Além disso, finalizei o curso de Desenvolvedor Business Intelligence pelo Instituto de Gestão e
            Tecnologia da Informação em novembro de 2020. Essas formações me proporcionaram uma sólida base teórica e
            prática, que continuo aprimorando constantemente.</p>

        <div class="formacoes">
            <div class="faculdade">
                <p class="faculdade-curso">Sistemas de Informação</p>
                <h3 class="faculdade-tipo">Ensino Superior</h3>
                <ul class="conclusao-instituicao">
                    <li>Dez/2016</li>
                    <li>Universidade Paulista</li>
                </ul>
            </div>
            <div class="faculdade">
                <p class="faculdade-curso">Banco de Dados e Business Intelligence</p>
                <h3 class="faculdade-tipo">Pós Graduação</h3>
                <ul class="conclusao-instituicao">
                    <li>Fev/2020</li>
                    <li>Faculdade Senac DF</li>
                </ul>
            </div>
        </div>
    </div>

</section>

<section class="certificacoes" id="certificacoes" aria-label="certificacoes">
    <div class="certificacoes-container container">
        <h2 class="subtitulo">Certificações</h2>
        <div class="formacoes">
            <div class="faculdade">
                <p class="faculdade-curso">AZ-900: Microsoft Azure Fundamentals</p>
                <ul class="conclusao-instituicao">
                    <li>2023</li>
                </ul>
            </div>
            <div class="faculdade">
                <p class="faculdade-curso">ITIL Foundation V3 </p>
                <ul class="conclusao-instituicao">
                    <li>2018</li>
                </ul>
            </div>
        </div>
    </div>

</section>


<section class="experiencia" id="experiencias" aria-label="Experiência">
    <div class="experiencia-container container">

        <h2 class="subtitulo">Experiências</h2>

        <div class="empresas">
            <div class="empresa">
                <h3 class="experiencia-titulo">Viagens Montreal - Administrador de dados</h3>
                <ul class="empresa-habilidades">
                    <li>Julho/2018 - Atualmente</li>
                </ul>
                <p class="experiencia-texto">Gerenciamento e administração de bancos de dados utilizando tecnologias
                    como SQL Server, MySQL e PostgreSQL. Desenvolvo dashboards interativos com o Power BI para fornecer
                    análises de dados acionáveis e visuais significativos, suportando a tomada de decisões. Implemento
                    processos de ETL (Extract, Transform, Load) usando Python para integrar dados de diversas fontes,
                    assegurando consistência e qualidade dos dados.</p><br>
                <p class="experiencia-texto">
                    Desenvolvimento de aplicações web robustas e escaláveis com Django e Python para atender às demandas
                    de negócios em constante evolução.</p><br>

                <p class="experiencia-texto"> Implementação de serviços da AWS, incluindo S3, e utilizo a AWS CLI para
                    gerenciar a infraestrutura na nuvem. Participei da migração de datacenters locais para a Amazon Web
                    Services (AWS). Minhas habilidades também abrangem arquitetura de dados e integração de dados..
                </p>
            </div>

            <div class="empresa">
                <h3 class="experiencia-titulo">Analista de BI - G4F Soluções Corporativas</h3>
                <ul class="empresa-habilidades">
                    <li>Maio/21 - Mar/23</li>
                </ul>
                <p class="experiencia-texto">Realizei levantamento de requisitos para o desenvolvimento de soluções de
                    Business Intelligence utilizando ferramentas como QlikView, Pentaho Server e Power BI, além de
                    manter as visualizações já existentes. Gerenciei a demanda e a execução relacionadas às extrações de
                    relatórios solicitados pelas diversas áreas da empresa, utilizando consultas SQL em bancos de dados
                    como Oracle, SQL Server e PostgreSQL.</p><br>

                <p class="experiencia-texto">Desenvolvi Data Warehouse para armazenamento e integração de dados de
                    diversas fontes, garantindo
                    consistência e disponibilidade para análises. Implementei processos de ETL (Extração, Transformação
                    e Carga) para alimentar o Data Warehouse e garantir a qualidade dos dados. Desenvolvi Cubos de dados
                    OLAP para análises multidimensionais, facilitando a compreensão e a exploração de grandes conjuntos
                    de dados.</p><br>

                <p class="experiencia-texto">Colaborei com equipes multidisciplinares para alinhar estratégias de BI com
                    as metas organizacionais
                    e garantir a entrega de soluções eficazes. Mantive e atualizei continuamente os sistemas de BI,
                    garantindo a precisão, integridade e segurança dos dados. Forneci suporte técnico especializado e
                    treinamento aos usuários finais, promovendo a adoção eficaz das soluções de BI e maximizando o
                    retorno sobre o investimento.</p>
            </div>

        </div>
    </div>
</section>


<section class="projetos" id="projetos" aria-label="Projetos">
    <div class="container">
        <h2 class="subtitulo">Projetos</h2>
        <div class="projetos-container">
            <div class="projeto">
                <h3 class="projeto-titulo">Projeto CRM</h3>
                <span class="tecnologia-titulo">Tecnologias Utilizadas:</span>
                <ul class="tecnologias-utilizadas">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JS</li>
                    <li>Python</li>
                    <li>Django</li>

                </ul>
                <p class="projeto-texto">Projeto Inicial de CRM.
                </p>
                <div class="button-projetos">
                    <a href="https://github.com/andresousadb/ProjetoCRM" target="_blank">
                        <button class="button" type="submit">Github</button>
                    </a>
                </div>
            </div>

            <div class="projeto">
                <h3 class="projeto-titulo">Cadastro Produtos</h3>
                <span class="tecnologia-titulo">Tecnologias Utilizadas:</span>
                <ul class="tecnologias-utilizadas">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JS</li>
                    <li>Python</li>
                    <li>Django</li>
                </ul>
                <p class="projeto-texto">Projeto de Cadastro.
                </p>
                <div class="button-projetos">
                    <a href="https://github.com/andresousadb/CadastroProdutos" target="_blank">
                        <button class="button" type="submit">Github</button>
                    </a>
                </div>

            </div>
            <div class="projeto" id="projeto02">
                <h3 class="projeto-titulo">Ecommerce</h3>
                <span class="tecnologia-titulo">Tecnologias Utilizadas:</span>
                <ul class="tecnologias-utilizadas">
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>JS</li>
                    <li>Python</li>
                    <li>Django</li>
                </ul>
                <p class="projeto-texto">Projeto inicial de Ecommerce.
                </p>
                <div class="button-projetos">
                    <a href="https://github.com/andresousadb/PrimeiroEcommerce" target="_blank">
                        <button class="button" type="submit">Github</button>
                    </a>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="habilidades" id="habilidades" aria-label="Habilidades">
    <div class="habilidades-container container">
        <h2 class="subtitulo">Habilidades</h2>
        <ul class="novas-habilidades-container">
            <li class="novas-habilidades-tipo">Python</li>
            <li class="novas-habilidades-tipo">Django</li>
            <li class="novas-habilidades-tipo">JavaScript</li>
            <li class="novas-habilidades-tipo">Sales Force</li>
            <li class="novas-habilidades-tipo">Github</li>
            <li class="novas-habilidades-tipo">SQL Server</li>
            <li class="novas-habilidades-tipo">Oracle</li>
            <li class="novas-habilidades-tipo">MySQL</li>
            <li class="novas-habilidades-tipo">PostgreSQL</li>
            <li class="novas-habilidades-tipo">Power BI</li>
            <li class="novas-habilidades-tipo">Data Warehouse</li>
            <li class="novas-habilidades-tipo">Pentaho PDI</li>
            <li class="novas-habilidades-tipo">SSIS</li>
            <li class="novas-habilidades-tipo">Power Shell</li>
            <li class="novas-habilidades-tipo">Azure</li>
            <li class="novas-habilidades-tipo">AWS</li>
        </ul>
    </div>
</section>

<footer class="footer" id="contato">
    <div class="container">
        <div class="btn-top">
            <a href="#" title="voltar ao topo">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"
                     fill="currentColor">
                    <path
                            d="m357-384 123-123 123 123 57-56-180-180-180 180 57 56ZM480-80q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z"/>
                </svg>
            </a>
        </div>
        <p class="footer-copy"> &copy; 2024 - Desenvolvido por <strong>André Ferreira</strong></p>
    </div>
</footer>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="{% static 'js/script.js' %}"></script>
</body>

</html>